{% seo %}

{% if page.robots %}
<meta name="robots" content="{{ page.robots }}">
{% endif %}

<link rel="icon" type="image/png" sizes="192x192" href="{{ '/photos/192.png' | absolute_url }}" />
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/photos/512.png' | absolute_url }}" />
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/photos/maskable-512.png' | absolute_url }}" purpose="maskable" />
<link rel="apple-touch-icon" sizes="512x512" href="{{ '/photos/512.png' | absolute_url }}" />

<link
  rel="feed"
  type="application/rss+xml"
  title="{{ site.title }}"
  href="{{ '/feed.xml' | absolute_url }}"
>

<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="{{ '/sitemap.xml' | absolute_url }}"
>

{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
