{% seo %}

{% if page.robots %}
<meta name="robots" content="{{ page.robots }}">
{% endif %}

<link rel="icon" href="https://i.imgur.com/mcrrGfd.png" />

<link
  rel="feed"
  type="application/rss+xml"
  title="{{ site.title }}"
  href="{{ '/feed.xml' | absolute_url }}"
>

<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="{{ '/sitemap.xml' | absolute_url }}"
>

{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
